In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('evaluare.csv')

In [4]:
df2 = pd.read_csv('12-07.csv')

c:\python27\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (2,16,22,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Unnamed: 0,Nume,Unnamed: 2,SCOALA,Media la admitere,Media teze nationale,Media de absolvire,Nota la limba romana,Nota la matematica,OPTIONAL8,OPTIONAL8 NOTA,Limba materna8,Limba materna8 nota
0,NaN,SZABO E. CSILLA REKA,CLUJ,SCOALA CU CLASELE I-VIII NR. 1 DEJ,9.87,9.75,10.00,9.67,9.35,Geografie,10.0,Maghiara,10
1,NaN,KEGYES I. KRISZTINA TIMEA,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.69,9.45,9.93,8.97,9.95,Istorie,9.8,Maghiara,9.07
2,NaN,FULOP BALOGH A. BEATRIX EMOKE,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.66,9.35,9.97,8.42,9.90,Istorie,9.5,Maghiara,9.57
3,NaN,DEAK I. NORBERT,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.60,9.24,9.97,7.85,10.00,Istorie,10.0,Maghiara,9.12
4,NaN,BALOGH E. IMOLA RENATA,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.53,9.45,9.62,8.87,9.57,Istorie,9.8,Maghiara,9.55

In [52]:
df2.head()

,Nume,Pozi?ia �n ierarhie pe jude?,Pozi?ia �n ierarhie pe ?ar?,Unitatea de �nv???m�nt,Jude?ul,Promotie anterioar?,Forma �nv???m�nt,Specializare,Limba ?i literatura rom�n? Competen?e,Limba ?i literatura rom�n? Scris,...,Disciplina obligatorie a profilului Nota,Disciplina obligatorie a profilului Contesta?ie,Disciplina obligatorie a profilului Nota final?,Disciplina la alegere,Disciplina la alegere Nota,Disciplina la alegere Contesta?ie,Disciplina la alegere Nota final?,Competen?e digitale,Media,Rezultatul final
0,A. Anei G. Ana Maria,1111,37997,"Colegiul National ""Stefan Cel Mare"" Tirgu Neamt",NT,Nu,Zi,Matematica-Informatica,Experimentat,8.85,...,5.60,NaN,5.6,"Anatomie si fiziologie umana, genetica si ecol...",8.85,NaN,8.85,Avansat,7.77,Reu?it
1,A-Anei I. Flaviu-Octavian,1062,40643,"Liceul De Arte Plastice ""Hans Mattis-Teutsch"" ...",BV,Nu,Zi,"Arhitectura, arte ambientale si design",Avansat,6.30,...,7.15,NaN,7.15,Geografie,9.50,NaN,9.5,Experimentat,7.65,Reu?it
2,Aanegroae S. C. Ana-Maria,57,2206,"Colegiul National ""Petru Rares"" Piatra Neamt",NT,Nu,Zi,Matematica-Informatica,Experimentat,8.40,...,9.70,NaN,9.7,Fizica,9.55,NaN,9.55,Experimentat,9.6,Reu?it
3,Aanei G. Alexandru,754,24312,"Colegiul National ""Ferdinand I"" Bacau",BC,Nu,Zi,Matematica-Informatica,Experimentat,8.60,...,8.00,NaN,8,Informatica T1 C/C++,8.50,NaN,8.5,Experimentat,8.37,Reu?it
4,Aanei I. Ana Maria,2626,93520,"Colegiul Tehnic ""Gheorghe Cartianu"" Piatra Neamt",NT,Nu,Zi,Tehnician desenator pentru constructii si inst...,Experimentat,5.60,...,3.20,3.15,3.2,Biologie vegetala si animala T1,7.70,NaN,7.7,Experimentat,5.5,Respins

In [63]:
s1 = pd.merge(df, df2, how='inner', on=['Nume'])

In [64]:
s1.head()

Empty DataFrame
Columns: [Nume, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Pozi?ia �n ierarhie pe jude?, Pozi?ia �n ierarhie pe ?ar?, Unitatea de �nv???m�nt, Jude?ul, Promotie anterioar?, Forma �nv???m�nt, Specializare, Limba ?i literatura rom�n?
Competen?e, Limba ?i literatura rom�n?
Scris, Limba ?i literatura rom�n?
Contesta?ie, Limba ?i literatura rom�n?
Nota final?, Limba ?i literatura matern?, Limba ?i literatura matern?
Competen?e, Limba ?i literatura matern?
Scris, Limba ?i literatura matern?
Contesta?ie, Limba ?i literatura matern?
Nota final?, Limba modern? studiat?, Limba modern? studiat?
Nota, Disciplina obligatorie a profilului, Disciplina obligatorie a profilului
Nota, Disciplina obligatorie a profilului
Contesta?ie, Disciplina obligatorie a profilului
Nota final?, Disciplina la alegere, Disciplina la alegere
Nota, Disciplina la alegere
Contesta?ie, Disciplina la alegere
Nota final?, Competen?e digitale, Media, Rezultatul final]
Index: []

[0 rows x 41 columns]

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
Nume           30 non-null object
Unnamed: 1     30 non-null object
Unnamed: 2     30 non-null object
Unnamed: 3     30 non-null float64
Unnamed: 4     30 non-null float64
Unnamed: 5     30 non-null float64
Unnamed: 6     30 non-null float64
Unnamed: 7     30 non-null float64
Unnamed: 8     30 non-null object
Unnamed: 9     30 non-null float64
Unnamed: 10    30 non-null object
Unnamed: 11    30 non-null float64
dtypes: float64(7), object(5)
memory usage: 2.3+ KB

In [66]:
df.dtypes

Nume            object
Unnamed: 1      object
Unnamed: 2      object
Unnamed: 3     float64
Unnamed: 4     float64
Unnamed: 5     float64
Unnamed: 6     float64
Unnamed: 7     float64
Unnamed: 8      object
Unnamed: 9     float64
Unnamed: 10     object
Unnamed: 11    float64
dtype: object

In [23]:
df2.dtypes

Nume                                                   object
Poziția în ierarhie pe județ                            int64
Poziția în ierarhie pe țară                             int64
Unitatea de învățământ                                 object
Județul                                                object
Promotie anterioară                                    object
Forma învățământ                                       object
Specializare                                           object
Limba și literatura română\r\nCompetențe               object
Limba și literatura română\r\nScris                   float64
Limba și literatura română\r\nContestație             float64
Limba și literatura română\r\nNota finală             float64
Limba și literatura maternă                            object
Limba și literatura maternă\r\nCompetențe              object
Limba și literatura maternă\r\nScris                  float64
Limba și literatura maternă\r\nContestație            float64
Limba și literatura maternă\r\nNota finală            float64
Limba modernă studiată                                 object
Limba modernă studiată\r\nNota                         object
Disciplina obligatorie a profilului                    object
Disciplina obligatorie a profilului\r\nNota           float64
Disciplina obligatorie a profilului\r\nContestație    float64
Disciplina obligatorie a profilului\r\nNota finală    float64
Disciplina la alegere                                  object
Disciplina la alegere\r\nNota                         float64
Disciplina la alegere\r\nContestație                  float64
Disciplina la alegere\r\nNota finală                  float64
Competențe digitale                                    object
Media                                                 float64
Rezultatul final                                       object
dtype: object

In [36]:
df2.Nume = df2.Nume.astype(str)

In [30]:
df2.Nume

0                         A. Anei G. Ana Maria
1                    A-Anei I. Flaviu-Octavian
2                    Aanegroae S. C. Ana-Maria
3                           Aanei G. Alexandru
4                           Aanei I. Ana Maria
5                             Aanei I. Andreea
6                      Aanei M. Cristina-Elena
7                        Aanei D. Marian-Danut
8                      Aanei N. Simona-Daniela
9                   Aanei-Murariu A. Alexandra
10                        Aanicai V. Elisabeta
11                          Aanicai C. Mihaela
12                 Aanicai V. Monique Adrianne
13                Aanitei E. Gabriela-Marinela
14                          Aanitei D. M. Ioan
15                Aarmeniei A. Ionut-Alexandru
16                         Ababei C. Alexandru
17                           Ababei D. Andreea
18                  Ababei R. Andreea-Loredana
19                      Ababei J. Andrei Ionut
20                     Ababei C. Andrei Razvan
21                            Ababei T. Aurora
22                       Ababei G. Bogdan-Gelu
23                           Ababei S. Claudia
24                  Ababei C. Constantin-Cezar
25                       Ababei . Cosmin Mihai
26                   Ababei I. Daniela-Andreea
27                    Ababei L. Dumitrita-Neli
28                   Ababei C. A. Elena-Roxana
29                    Ababei M. Eusebiu Lucian
                          ...
200157              Zuzu F. R. Isabela Daniela
200158                    Zuzu I. Mihai Marius
200159                     Zvanca I. Alexandra
200160                    Zvancea G. Alexandra
200161                Zvanciuc N. Oana-Teodora
200162               Zvarici D. Andreea-Roxana
200163               Zvarici I. N. Andrei Ioan
200164             Zvarici F. Giorgiana-Tereza
200165                   Zvenca T. Claudiu-Ion
200166                     Zveta V. Paul-Sabin
200167                 Zvinca C. Bogdan Robert
200168                 Zvinca F. Daniel-Costel
200169                Zvinca C. Narcis-Claudiu
200170                        Zvinca G. Roxana
200171               Zvinca C. Roxana-Emanuela
200172             Zvinca F. Stelian-Alexandru
200173                 Zvincu C. Anca-Cristina
200174                          Zvincu . Elena
200175              Zvincu F. Stefan Cristinel
200176    Zvolentschi L. M. Florentina-Mihaela
200177                         Zvonca I. Petru
200178                        Zvorici M. Alisa
200179                   Zvoristeanu A. Andrei
200180               Zvoristeanu N. Oana-Elena
200181              Zvoristeanu P. Petru-Sorin
200182                  Zvunca I. Ionut-Adrian
200183                         Zvunca I. Maria
200184                         Zvunca I. Maria
200185                    Zvunka I. Ioan Dorel
200186                   Zyma G. M. Anne-Maria
Name: Nume, Length: 200187, dtype: object

In [35]:
df.Nume = df.Nume.astype(str)

In [37]:
df.dtypes

Nume            object
Unnamed: 1      object
Unnamed: 2      object
Unnamed: 3     float64
Unnamed: 4     float64
Unnamed: 5     float64
Unnamed: 6     float64
Unnamed: 7     float64
Unnamed: 8      object
Unnamed: 9     float64
Unnamed: 10     object
Unnamed: 11    float64
dtype: object

In [38]:
df2.dtypes

Nume                                                   object
Poziția în ierarhie pe județ                            int64
Poziția în ierarhie pe țară                             int64
Unitatea de învățământ                                 object
Județul                                                object
Promotie anterioară                                    object
Forma învățământ                                       object
Specializare                                           object
Limba și literatura română\r\nCompetențe               object
Limba și literatura română\r\nScris                   float64
Limba și literatura română\r\nContestație             float64
Limba și literatura română\r\nNota finală             float64
Limba și literatura maternă                            object
Limba și literatura maternă\r\nCompetențe              object
Limba și literatura maternă\r\nScris                  float64
Limba și literatura maternă\r\nContestație            float64
Limba și literatura maternă\r\nNota finală            float64
Limba modernă studiată                                 object
Limba modernă studiată\r\nNota                         object
Disciplina obligatorie a profilului                    object
Disciplina obligatorie a profilului\r\nNota           float64
Disciplina obligatorie a profilului\r\nContestație    float64
Disciplina obligatorie a profilului\r\nNota finală    float64
Disciplina la alegere                                  object
Disciplina la alegere\r\nNota                         float64
Disciplina la alegere\r\nContestație                  float64
Disciplina la alegere\r\nNota finală                  float64
Competențe digitale                                    object
Media                                                 float64
Rezultatul final                                       object
dtype: object

In [67]:
s1 = pd.merge(df, df2, how='inner', on=['Nume'])

In [68]:
s1.head()

Empty DataFrame
Columns: [Nume, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Pozi?ia �n ierarhie pe jude?, Pozi?ia �n ierarhie pe ?ar?, Unitatea de �nv???m�nt, Jude?ul, Promotie anterioar?, Forma �nv???m�nt, Specializare, Limba ?i literatura rom�n?
Competen?e, Limba ?i literatura rom�n?
Scris, Limba ?i literatura rom�n?
Contesta?ie, Limba ?i literatura rom�n?
Nota final?, Limba ?i literatura matern?, Limba ?i literatura matern?
Competen?e, Limba ?i literatura matern?
Scris, Limba ?i literatura matern?
Contesta?ie, Limba ?i literatura matern?
Nota final?, Limba modern? studiat?, Limba modern? studiat?
Nota, Disciplina obligatorie a profilului, Disciplina obligatorie a profilului
Nota, Disciplina obligatorie a profilului
Contesta?ie, Disciplina obligatorie a profilului
Nota final?, Disciplina la alegere, Disciplina la alegere
Nota, Disciplina la alegere
Contesta?ie, Disciplina la alegere
Nota final?, Competen?e digitale, Media, Rezultatul final]
Index: []

[0 rows x 41 columns]

In [70]:
df.Nume = df.Nume.str.encode('utf-8')
df2.Nume = df2.Nume.str.encode('utf-8')

UnicodeDecodeError: 'ascii' codec can't decode byte 0xa6 in position 7: ordinal not in range(128)

In [71]:
df.Nume = df.Nume.str.strip()
df2.Nume = df2.Nume.str.strip()

In [83]:
s1 = pd.merge(df, df2, how='inner', on=['Nume'])

In [84]:
s1.head()

,Nume,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Disciplina obligatorie a profilului Nota,Disciplina obligatorie a profilului Contesta?ie,Disciplina obligatorie a profilului Nota final?,Disciplina la alegere,Disciplina la alegere Nota,Disciplina la alegere Contesta?ie,Disciplina la alegere Nota final?,Competen?e digitale,Media,Rezultatul final
0,deak i. norbert,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.60,9.24,9.97,7.85,10.00,Istorie,10.00,...,10.00,NaN,10,Informatica T1 Pascal,9.85,NaN,9.85,Experimentat,9.03,Reu?it
1,kovacs p. kinga,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.45,9.21,9.69,7.90,9.55,Istorie,9.75,...,9.30,NaN,9.3,"Anatomie si fiziologie umana, genetica si ecol...",10.00,NaN,10,Experimentat,8.96,Reu?it
2,kovacs p. kinga,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.45,9.21,9.69,7.90,9.55,Istorie,9.75,...,8.85,NaN,8.85,Geografie,8.35,NaN,8.35,Mediu,8.56,Reu?it
3,kispal z. timea,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.34,8.98,9.70,8.35,9.57,Istorie,8.55,...,9.15,NaN,9.15,Informatica T1 Pascal,9.50,NaN,9.5,Experimentat,9.1,Reu?it
4,debreczeni i. istvan,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.07,8.56,9.58,7.37,8.95,Geografie,9.80,...,6.95,NaN,6.95,Chimie anorganica T2 Nivel I,9.00,NaN,9,Avansat,8.51,Reu?it

In [81]:
df.Nume = df.Nume.str.lower()
df2.Nume = df2.Nume.str.lower()

In [82]:
df.head()

,Nume,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,szabo e. csilla reka,CLUJ,SCOALA CU CLASELE I-VIII NR. 1 DEJ,9.87,9.75,10.00,9.67,9.35,Geografie,10.0,Maghiara,10.00
1,kegyes i. krisztina timea,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.69,9.45,9.93,8.97,9.95,Istorie,9.8,Maghiara,9.07
2,fulop balogh a. beatrix emoke,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.66,9.35,9.97,8.42,9.90,Istorie,9.5,Maghiara,9.57
3,deak i. norbert,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.60,9.24,9.97,7.85,10.00,Istorie,10.0,Maghiara,9.12
4,balogh e. imola renata,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.53,9.45,9.62,8.87,9.57,Istorie,9.8,Maghiara,9.55