In [10]:
from tpot import TPOTClassifier
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.mode.chained_assignment = None
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [53]:
df = pd.read_csv('note.csv')
df = df.reset_index()

Y = df[['rezultatul final']]  

X = df[['nume','media teze nationale', 'nota la limba romana','judet8','scoala','media de absolvire','nota la matematica',
       'optional8 nota','limba materna8','promotie anterioara','specializare','limba moderna','disciplina profil','optional'
       ,'unitatea de invatamant', 'forma invatamant','judetul']]

In [14]:
X.isna().sum()

nume                      0
media teze nationale      0
nota la limba romana      0
judet8                    0
scoala                    0
media de absolvire        0
nota la matematica        0
optional8 nota            0
limba materna8            0
promotie anterioara       0
specializare              0
limba moderna             0
disciplina profil         0
optional                  0
unitatea de invatamant    0
forma invatamant          0
judetul                   0
dtype: int64

In [54]:
for i,c in enumerate(X.columns):
        if X[c].dtype == 'object':
            lbl = LabelEncoder()
            lbl.fit(list(X[c].values))
            X[c] = lbl.transform(list(X[c].values)) 
X.head()

,nume,media teze nationale,nota la limba romana,judet8,scoala,media de absolvire,nota la matematica,optional8 nota,limba materna8,promotie anterioara,specializare,limba moderna,disciplina profil,optional,unitatea de invatamant,forma invatamant,judetul
0,2099,9.10,8.17,4,478,9.54,9.45,9.70,0,1,43,0,2,0,252,3,5
1,3629,8.63,8.30,4,391,9.62,8.00,9.60,0,1,43,0,2,0,252,3,5
2,1136,7.90,7.62,4,419,9.52,6.97,9.10,0,1,43,0,2,0,252,3,5
3,311,8.21,7.30,4,421,8.51,7.95,9.40,0,1,43,0,2,0,252,3,5
4,3464,7.73,6.40,4,286,8.89,8.72,8.07,0,1,43,0,2,0,252,3,5

In [55]:
for i,c in enumerate(Y.columns):
        if Y[c].dtype == 'object':
            lbl = LabelEncoder()
            lbl.fit(list(Y[c].values))
            Y[c] = lbl.transform(list(Y[c].values)) 
Y.head()

   rezultatul final
0                 0
1                 0
2                 0
3                 0
4                 0

In [56]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state = 40) #same seed to compare results

In [57]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((8089, 17), (2023, 17), (8089, 1), (2023, 1))

In [45]:
Y_test.unique()

array(['Respins', 'Reusit'], dtype=object)

In [60]:
tpot = TPOTClassifier(verbosity=2,generations = 100, max_time_mins=600, population_size  =100)
tpot.fit(X_train, Y_train.values)
print(tpot.score(X_test, Y_test))

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

SEJveChjaGlsZHJlbj0oSW50UHJvZ3Jlc3ModmFsdWU9MCwgZGVzY3JpcHRpb249dSdPcHRpbWl6YXRpb24gUHJvZ3Jlc3MnLCBzdHlsZT1Qcm9ncmVzc1N0eWxlKGRlc2NyaXB0aW9uX3dpZHTigKY=

Generation 1 - Current best internal CV score: 0.834959341255
Generation 2 - Current best internal CV score: 0.834959341255
Generation 3 - Current best internal CV score: 0.836442578015
Generation 4 - Current best internal CV score: 0.837184693232
Generation 5 - Current best internal CV score: 0.837184693232
Generation 6 - Current best internal CV score: 0.838050264578
Generation 7 - Current best internal CV score: 0.838050264578
Generation 8 - Current best internal CV score: 0.838172498836
Generation 9 - Current best internal CV score: 0.838172498836
Generation 10 - Current best internal CV score: 0.838668770211
Generation 11 - Current best internal CV score: 0.838668770211
Generation 12 - Current best internal CV score: 0.838668770211
Generation 13 - Current best internal CV score: 0.838668770211
Generation 14 - Current best internal CV score: 0.838668770211
Generation 15 - Current best internal CV score: 0.838668770211
Generation 16 - Current best internal CV score: 0.838668770211
Generation 17 - Current best internal CV score: 0.838668770211
Generation 18 - Current best internal CV score: 0.838668770211
Generation 19 - Current best internal CV score: 0.839285518679
Generation 20 - Current best internal CV score: 0.839285518679
Generation 21 - Current best internal CV score: 0.839285518679
Generation 22 - Current best internal CV score: 0.839285518679
Generation 23 - Current best internal CV score: 0.839285518679
Generation 24 - Current best internal CV score: 0.839285518679
Generation 25 - Current best internal CV score: 0.839905246467
Generation 26 - Current best internal CV score: 0.839905246467
Generation 27 - Current best internal CV score: 0.839905246467
Generation 28 - Current best internal CV score: 0.839905246467
Generation 29 - Current best internal CV score: 0.839905246467
Generation 30 - Current best internal CV score: 0.839905246467
Generation 31 - Current best internal CV score: 0.839905246467
Generation 32 - Current best internal CV score: 0.839905246467
Generation 33 - Current best internal CV score: 0.839905246467
Generation 34 - Current best internal CV score: 0.839905246467
Generation 35 - Current best internal CV score: 0.839905246467

600.041133333 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: ExtraTreesClassifier(VarianceThreshold(PCA(input_matrix, iterated_power=1, svd_solver=randomized), threshold=0.2), bootstrap=False, criterion=gini, max_features=0.55, min_samples_leaf=2, min_samples_split=8, n_estimators=100)
0.8403361344537815

In [61]:
tpot.export('tpot.py')

In [66]:
# %load tpot.py
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline

# Average CV score on the training set was:0.839905246467
exported_pipeline = make_pipeline(
    PCA(iterated_power=1, svd_solver="randomized"),
    VarianceThreshold(threshold=0.2),
    ExtraTreesClassifier(bootstrap=False, criterion="gini", max_features=0.55, min_samples_leaf=2, min_samples_split=8, n_estimators=100)
)

exported_pipeline.fit(X_train, Y_train)
results = exported_pipeline.predict(Y_test)
print(exported_pipeline.score(X_test, Y_test))

0.8353929807217004

In [ ]:
######











###new

In [13]:
firstName_gender = pd.read_csv('all_names_gender.csv')
firstName_gender.head()


df = pd.read_csv('note.csv')
df = df.reset_index()

Y = df[['rezultatul final']]  

X = df[['nume','media teze nationale', 'nota la limba romana','judet8','scoala','media de absolvire','nota la matematica',
       'optional8 nota','limba materna8','promotie anterioara','specializare','limba moderna','disciplina profil','optional'
       ,'unitatea de invatamant', 'forma invatamant','judetul']]

def firstname(name):
    fullname_list = name.split(" ")
    return fullname_list[len(fullname_list)-1]

X['nume'] = X['nume'].apply(firstname)


#add gender 
genders = []

for ind, name in enumerate(X['nume']):
    all_first_names = name.split('-')
    male = 0
    female = 0
    
    for first in all_first_names:
        if not firstName_gender[firstName_gender['name'] == first]['ga_gender'].empty:
            gender = firstName_gender[firstName_gender['name'] == first]['ga_gender'].values[0]
            if gender == 'male':
                male +=1
            else:
                female +=1
        
    if male > female:
        genders.append(0)
    else:
        genders.append(1)
        
X['gender'] = genders
names = X['nume'].str.get_dummies(sep='-').add_prefix('nume_')
#names.head()


X = pd.concat([X, names], axis = 1)

 #drop the old name column
X = X.drop('nume', axis=1)

In [16]:
for i,c in enumerate(X.columns):
        if X[c].dtype == 'object':
            lbl = LabelEncoder()
            lbl.fit(list(X[c].values))
            X[c] = lbl.transform(list(X[c].values)) 

for i,c in enumerate(Y.columns):
    if Y[c].dtype == 'object':
        lbl = LabelEncoder()
        lbl.fit(list(Y[c].values))
        Y[c] = lbl.transform(list(Y[c].values)) 
Y.head()
            
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state = 40) #same seed to compare results

            
X.head()

,media teze nationale,nota la limba romana,judet8,scoala,media de absolvire,nota la matematica,optional8 nota,limba materna8,promotie anterioara,specializare,...,nume_zina,nume_zita,nume_zoltan,nume_zorand,nume_zsofia,nume_zsolt,nume_zsombor,nume_zsuzsa,nume_zsuzsana,nume_zsuzsanna
0,9.10,8.17,4,478,9.54,9.45,9.70,0,1,43,...,0,0,0,0,0,0,0,0,0,0
1,8.63,8.30,4,391,9.62,8.00,9.60,0,1,43,...,0,0,0,0,0,0,0,0,0,0
2,7.90,7.62,4,419,9.52,6.97,9.10,0,1,43,...,0,0,0,0,0,0,0,0,0,0
3,8.21,7.30,4,421,8.51,7.95,9.40,0,1,43,...,0,0,0,0,0,0,0,0,0,0
4,7.73,6.40,4,286,8.89,8.72,8.07,0,1,43,...,0,0,0,0,0,0,0,0,0,0

In [17]:
Y.head()

   rezultatul final
0                 0
1                 0
2                 0
3                 0
4                 0

In [18]:
tpot = TPOTClassifier(verbosity=2,generations = 100, max_time_mins=15, population_size  =100)
tpot.fit(X_train, Y_train.values)
print(tpot.score(X_test, Y_test))

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

c:\python27\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SEJveChjaGlsZHJlbj0oSW50UHJvZ3Jlc3ModmFsdWU9MCwgZGVzY3JpcHRpb249dSdPcHRpbWl6YXRpb24gUHJvZ3Jlc3MnLCBzdHlsZT1Qcm9ncmVzc1N0eWxlKGRlc2NyaXB0aW9uX3dpZHTigKY=

15.6403666667 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: ExtraTreesClassifier(input_matrix, bootstrap=False, criterion=gini, max_features=0.9000000000000001, min_samples_leaf=9, min_samples_split=7, n_estimators=100)
0.837864557587741